{% extends 'music/base.html' %}

<!DOCTYPE html>
<html lang="en">
{% block head %}

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock head %}

{% block body %}

{% for notification in notifications %}
    <div class = container>
     <div class="alert alert-info">
     <a href="{% url 'music:detail1' notification.question_id %}" class="alert-link">{{ notification.message }}</a>.
  </div>
    </div>


    {% endfor %}



{% endblock body %}